<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.atuy1219.gakumas.progresscapture"
    android:versionCode="21"
    android:versionName="1.4.2">

    <uses-sdk android:minSdkVersion="23" android:targetSdkVersion="35" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="false"
        android:extractNativeLibs="true"
        android:hasCode="true"
        android:label="Gakumas Progress Capture">
        <activity android:name=".DiagnosticActivity" android:exported="true" android:label="学マス実機診断">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
